<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">   
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    <script src="ejs.min.js"></script>  
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-time.v1.min.js"></script>
    <script src="https://d3js.org/d3-time-format.v2.min.js"></script>
    <script src="https://d3js.org/d3-scale.v3.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect();

   socket.on('testerEvent', function(data){
       socket.emit('my other event', function(){
        return window.location.assign('/');
       })

    //document.write(data.description); 
      //return 
    // window.location.assign('/')
     //return('done')
     //alert('yes')
   });

  
</script>
  </head>
  <body>

    <div id="dof">
      
    <div id="content">
    <header>

    </header>

    <main>
      <p class="bold">Stocks</p>
      
      <div class="col-xs-12">
        <div class="col-xs-7">
          <p class="line">
            zoom <k id="1m"  class="b"><a href="https://olive-parka.glitch.me/?interval=TIME_SERIES_WEEKLY&me=<%= value%>&range=1m" style="text-decoration:none; color: white;">1M</a></k> <k id="3m" class="b"><a href="https://olive-parka.glitch.me/?interval=TIME_SERIES_WEEKLY&me=<%= value%>&range=3m" style="text-decoration:none; color: white;">3M</a></k> <k id="6m" class="b"><a href="https://olive-parka.glitch.me/?interval=TIME_SERIES_WEEKLY&me=<%= value%>&range=6m" style="text-decoration:none; color: white;">6M</a></k> 
            <k id="ytd" class="b"><a href="https://olive-parka.glitch.me/?interval=TIME_SERIES_WEEKLY&me=<%= value%>&range=ytd" style="text-decoration:none; color: white;">YTD</a></k> 
            <k id="1y" class="b"><a href="https://olive-parka.glitch.me/?interval=TIME_SERIES_MONTHLY&me=<%= value%>&range=1y" style="text-decoration:none; color: white;">1Y</a></k> <k id="all" class="b"><a href="https://olive-parka.glitch.me/?interval=TIME_SERIES_MONTHLY&me=<%= value%>&range=all" style="text-decoration:none; color: white;">ALL</a></k>
          </p>
        </div>
        <div class="col-xs-5">
          <p class="line2">
            <from>From</from><input type="text" name="from" id="from" value="<%= date1 %>" disabled> <to>To</to> <input type="text" name="to" id="to" value="<%= date2 %>" disabled>
          </p>
        </div>
      </div>

      <div class="graphs">
       <p id="wordz">
         <%= JSON.stringify(data) %>
        </p>
         
         
    <script>
     // var info=[[[0,90],[1,170],[2,300],[3,250],[4,150],[5,250]],[[0,50],[1,70],[2,100],[3,150],[4,350],[5,450]]];
     //var info=[["2019-01-31",90],["2019-02-10",170],["2019-02-25",300],["2019-03-4",250],["2019-03-13",150],["2019-03-25",250]];
     var info=document.getElementById('wordz').textContent;
     info=JSON.parse(info);
     info= info['answer']
//alert(d3.max(info,(f,i)=>parseFloat(f[1])))
     var w= 700; var h= 250; var p= 50;
      var color=[];
  
      for(var i=0; i<info.length; i++){
       var hue= Math.floor(Math.random()*360);
        color.push("hsl("+hue+", 60%, 60%)")
      }
      
//for(var a=0; a< info.length; a++){            
     var svg= d3.select('.graphs').append('svg')
        .attr("width",w).attr("height",h);

      var xScale= d3.scaleLinear()
        .domain([d3.min(info,(f,i)=>new Date(f[0])),d3.max(info,(f,i)=>new Date(f[0]))]).range([p,w-p]);
      
      var yScale= d3.scaleLinear()
        .domain([d3.min(info,(f,i)=>parseFloat(f[1])),d3.max(info,(f,i)=>parseFloat(f[1]))]).range([h-p,p]);  
      
      svg.selectAll('circle').data(info).enter().append('circle')
        .attr("cx",(f,i)=> xScale(new Date(f[0]))).attr("cy",(f,i)=> yScale(f[1])).attr('r',2)
        .attr("fill",'darkgreen')
      .on('mouseover',function(d){
      tooltip.transition()
             .duration(200)
             .style("opacity", 0.8);
      tooltip.html("<b>Price:</b> " + d[0] + '<br/>' + "<b>Date:</b> $" + d[1])
             .style("left", d3.event.pageX+ -250 + "px")
             .style("top",  d3.event.pageY+ -250 + "px");
      tooltip.attr("data-date", d[0]);
      })
     .on("mouseout", function(d) {
      tooltip.transition()
             .style("opacity", 0);
      });
     
      var lineFunc= d3.line()
         .x((f,i)=>xScale(new Date(f[0])))
         .y((f,i)=>yScale(f[1]));
      svg.selectAll('path').data(info).enter()
        .append("path")
        .attr("d", lineFunc(info))
        .attr("fill", "none")
        .attr("stroke","darkgreen")
        .style("opacity", 0.1); 
      
      //  .attr("x",(f,i)=>xScale(new Date(f[0])))
      //  .attr("y",(f,i)=>yScale(f[1]));
      
      
     const xAxis= d3.axisBottom(xScale).tickFormat(d3.timeFormat("%Y-%m"));
     svg.append('g')
        .attr("transform", "translate("+0+","+(h-p)+")")
        .call(xAxis);      
      
     const yAxis= d3.axisLeft(yScale);
      svg.append('g')                                         
        .attr("transform", "translate("+(p)+","+(0)+")")
        .call(yAxis);    
      
      
    const tooltip= d3.select('.graphs')
             .append('div')
             .attr('class','tooltip')
             .attr('id', 'tooltip')
             .style('opacity',0);
      
    svg.append("text")
    .attr("class", 'xL')
    .style("fill", "silver")
    .attr("x", 150)
    .attr("y", h-10)
    .text("Date (yyyy-mm)");
      
    svg.append("text")
    .attr("class", 'xL')
    .style("fill", "silver")      
    .attr("x", -180)
    .attr("y", 5)
    .attr("dy", ".75em")
    .attr("transform", "rotate(-90)")
    .text("Price ($)");
      
     var dinfo=document.getElementById('wordz').textContent;      
     dinfo=JSON.parse(dinfo);
     dinfo= dinfo['val'];
      
    svg.append("text")
    .attr("class", 'xL')
    .style("fill", "black")
    .style("font-weight", "bold")
    .style("font-size", "30")
    .attr("x", 15)
    .attr("y", p-20)
    .text(dinfo);      
 // }
      
    </script>        
      </div>
      <div class="graphs2"></div>

      
      <hr />
      <ul class="rowe">
        
      <li class="box2" id="box">
       <p class="bt">
         <b>Sync in realtime across clients</b>
        </p> 
      <form method="POST">
        <input name="stock" type="text" maxlength="100" placeholder="stock code" id="i1">
        <input type="submit" id="s1" value="Enter">
      </form>
      </li>
      <% for(var i=0; i<doc['my'].length; i++){ %>
      <li class="box2 bp" id="box2">
      <div class="col-xs-12">
          
       <p class="bt2 col-xs-11">
         <b><a href="https://olive-parka.glitch.me/?me=<%=doc['my'][i]['name']%>"><%=doc['my'][i]['name'] %></a></b>
       </p>
       <p class="bt2 col-xs-1">
        <div id="close">
          <b><a href="https://olive-parka.glitch.me/delete/?me=<%=doc['my'][i]['name']%>"><i class="fa fa-close"></i></a></b>
        </div>

       </p>
      </div>

      <p class="bt3">Stock Name: <b><%=doc['my'][i]['name'] %></b>; cost of the stock at end of the indicated trading day(s)</p>
      </li>
        <% } %>
      </ul>
      
    </main>
    </div>
      
    <footer>

    </footer>
      
    </div>
      <p id="a">  
      </p>
    <script>var n= new Date().getFullYear();document.getElementById('a').innerHTML='&copy '+n+' olive-parka.glitch.me'</script> 

  
  </body>
  
  
</html>
